body{
  margin: 0;
}
.backgroundimage
{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(house4.jpg);
    width:100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.header
{
    background-color: #29293d;
    height: 70px;
    padding-top: 1.5%;
    color: darkorange;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}
.navv{
  text-align: center;
  padding: 5%;
}
.add{
  color: darkorange;
}
.big-heading{
  text-align: center;
}
.h1
{
    font-family:fantasy;
    font-size: 80px;
    color: darkorange;
}
.h2
{
    font-family:fantasy;
    font-size: 30px;
    color: darkorange;
}
.h3
{
    font-family:fantasy;
    font-size: 20px;
    color: darkorange;
}
.index1
{
    color: darkorange;
    text-decoration: none;
    font-size: 25px;
    font-family:serif;
    padding-right: 10px;
    padding: 10px;
    border-radius: 4px;
    font-family:helvetica;

}
.index{
  border: 2px solid darkorange;
}
.index1:hover
{
    color: darkorange;
    padding: 10px;
    background-color:#29293d;
    border-radius: 4px;
    text-decoration: none;
}
.colo
{
    background-color: #fff;
    text-align: center;
    margin-top: 15%;
    margin-left: 8%;
    margin-right: 8%;
    padding-top: 20px;
    padding-bottom: 20px;

}
.pic-div{
  padding-left: 0;
  padding-right: 0;
  position: none;
}
.pic1
{
    width: 350px;
    height: 300px;
    padding-bottom: 10px;
}

.section2{
  text-align: left;
  background-color:#fff;
  margin-top: 9%;
  padding-left: 9%;
  padding-right: 4%;
}
.text1
{
    font-family:helvetica;
    font-size: 18px;
    color:#666666;
}
.text2
{
    font-family:helvetica;
    font-size: 35px;
    color:black;
}
.colo2
{
  width: 100px;
  height: 2px;
  background-color:darkorange;
  margin-bottom: 40px;
}
.text3
{
    font-family:helvetica;
    font-size: 20px;
    color:#666666;
}
.text4
{
    font-family:helvetica;
    font-size: 18px;
    color:#666666;
}

.imm1
{
    width: 300px;
    height: 200px;
}
.imm2
{
    width: 300px;
    height: 200px;
}
.text5
{
    font-size: 30px
}
.text6
{
    float: left;
    font-family:helvetica;
    font-size: 18px;
    color:#666666;
}
.text7
{
    font-size: 30px;
}
.text8
{
    font-family:helvetica;
    font-size: 18px;
    color:#666666;
}
.text9{
  border-top: 2px solid orange;
  color: #fff;
}
.footer{
  padding: 2%;
  background-color: #ededed;
  margin-top: 30px;
  color: gray;
}
.icons{
  padding-right: 10px;
  padding-bottom: 10px;
}
.icons:hover{
  color: darkorange;
}
.olamide{
  color: inherit;
}
.olamide:hover{
  color: inherit;
}
.copyright:hover{
  color: darkorange;
}
@media (max-width: 1028px){
  .imm2
  {
      width: 400px;
  }
  .imm1
  {
      width: 400px;
  }
  .header{
    text-align: center;
    height: 80px;
  }
  .index1{
    font-size: 18px;
  }
}
@media (max-width: 900px){
  .phone-pic1{
    width: 720px;
    height: 450px;
  }
}
